
/* BODY SECTION*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
  
/* NAVIGATION BAR SECTION*/ 
.nav {
    background-color: black;
    font-size: 120%;
}
  
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: right;
    color: white;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.nav a:hover {
    background-color: rgb(202, 158, 158); /* LIGHT PINK ON HOVER */
    color: black;  /* BLACK TEXT ON HOVER */
}


/* HEADER SECTION */
.header-content {
    text-align: center;
    font-size: 120%;
    margin-top: 10%;
    margin-left: 50%;
    padding: 30px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5); /* TRANSPARENT WHITE BACKGROUND */
    border-radius: 10px;
    position: absolute;
}

.download-list a {
    background-color: black;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    padding: 20px;
}

.download-list a:hover {
    color: rgb(226, 134, 149); /* LIGHT PINK ON HOVER */
}


/* MAIN CONTENT SECTION*/
.main-content {
    font-size: 170%;
    text-align: center;
}

.white-part {
    background-color: white;
    color: black;
    padding: 80px;
}

.white-text {
    width: 600px;
    float: left;
    clear: left;
    margin-left: 50px;
}

.grey-part {
    background-color: rgb(198, 202, 206);  /* GREY BACKGROUND COLOUR */
    padding: 80px;
}

.grey-text {
    width: 600px;
    float: right;
    clear: right;
    margin-right: 100px;
}


/* EXTRA INFO SECTION */
.extra-info {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 140%;
}

.social-media {
    text-align: left;
    float: left;
    position: relative;
    margin-top: 50px;
}

/* CONTACT SECTION */
.contact {
    float: left;
    position: relative;
    margin-left: 20%;
    margin-top: 100px;
    padding: 2%;
}

.contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* BOTTOM NAV BAR */
.lesser-nav {
    text-align: right;
    margin-right: 100px;
}

.lesser-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lesser-nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.lesser-nav a:hover {
    color: rgb(219, 130, 130);  /* LIGHT PINK TEXT ON HOVER */
}