header {
    /* fixes header bar to top and stretches full width */
    z-index: 9;
    background-color: rgba(22, 22, 22, 0.95);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  header li a[href] {
    float: right; /* floats nav elements to right of header */
    display: block;
    color: rgb(201, 201, 201);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: hidden;
    transition: 0.2s;
  }
  /* every element's bottom border hidden on default, until hovered over.
  added transition for cool effect */
  
  header li a[href]:not(#logo):hover {
    padding: 12px 16px;
    color: white;
    border-bottom: 4px solid #1e8ad6;
  }
  
  header li a[id='logo'][href] {
    font-family: 'Raleway', sans-serif;
    float: left;
    color: white;
  }