/* BODY SECTION*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* NAVIGATION BAR SECTION*/ 
.nav {
    background-color: black;
    font-size: 120%;
}
  
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: right;
    color: white;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.nav a:hover {
    background-color: rgb(202, 158, 158); /* LIGHT PINK ON HOVER */
    color: black;  /* BLACK TEXT ON HOVER */
}

/* HEADER SECTION */
.header-content {
    font-size: 150%;
}
.title {
    background-color: rgb(173, 87, 53);
    padding: 10px;
    text-align: center;
}

.tcontent1 {
    padding: 50px;
}

.tcontent2 {
    background-color: rgb(192, 192, 192);
    padding: 50px;
}

/* MAIN CONTENT SECTION */
.main-content {
    font-size: 150%;
}

.main-title {
    text-align: center;
    font-size: 150%;
}

.white-part {
    padding: 20px;
}

.white-text{
    float: right;
    clear: right;
    width: 50%;
    text-align: center;
    margin-right: 60px;
    margin-top: 150px;
}

.grey-part {
    background-color: rgb(192, 192, 192);
    padding: 20px;
}

.grey-text {
    float: left;
    clear: left;
    width: 50%;
    text-align: center;
    margin-right: 60px;
    margin-top: 150px;
}


/* EXTRA INFO SECTION */
.extra-info {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 140%;
}

.social-media {
    text-align: left;
    float: left;
    position: relative;
    margin-top: 50px;
}


/* CONTACT SECTION */
.contact {
    float: left;
    position: relative;
    margin-left: 250px;
    margin-top: 100px;
    padding: 0px 100px 0 100px;
    border-left: solid white;
    border-right: solid white;
}

.contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* BOTTOM NAV BAR */
.lesser-nav {
    text-align: right;
    margin-right: 100px;
}

.lesser-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lesser-nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.lesser-nav a:hover {
    color: rgb(219, 130, 130);  /* LIGHT PINK TEXT ON HOVER */
}